@model SaraiManagement.Models.ViewModels.DoacaoListViewModel

@{
    ViewData["Title"] = "ListaMostra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Doaçoes</h1>
<h2>Pesquisar Doaçoes por Donatario</h2>

<form asp-controller="Doacao" asp-action="List">
    <p>
        <input type="text" name="SearchString" />
        <input class="btn btn-primary" type="submit" value="Pesquisar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Donatario
            </th>

            <th>
                Valor
            </th>
            <th>
                Data
            </th>
            <th>
                Usuario
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doacaos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Donatario.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.dataDoacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="ItemDoado" asp-action="ListaDoacao" asp-route-x="@item.DoacaoID">Visualizar Items</a>

                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-controller="TelaInicial" asp-action="Index" class="btn btn-success">Voltar</a>

