@model SaraiManagement.Models.Estoque

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .botao {
        margin: 0 5px;
    }

    .fonte {
        font-size: 20px;
    }

    .centraliza {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h1 class="centraliza">Detalhes</h1>
<hr/>
<div class="centraliza">
    <dl class="row">
        <dt class = "col-sm-2">
            <label class="fonte">Descrição:</label>
            @*@Html.DisplayNameFor(model => model.Descricao)*@
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2 fonte">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2 fonte">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div class="centraliza">
    <a asp-controller="ItemDoado" asp-action="Create" asp-route-id="@Model.EstoqueID" class="btn btn-primary botao">Selecionar</a>
    <a asp-action="Edit" asp-route-id="@Model.EstoqueID"  class="btn btn-outline-success botao">Editar</a>
    <a class="btn btn-success botao" asp-action="List" asp-controller="Estoque" clas> Voltar </a>
</div>
