@model SaraiManagement.Models.Estoque

@{
    ViewData["Title"] = "Details1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details1</h1>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="ItemDoado" asp-action="Create" asp-route-id="@Model.EstoqueID">Selecionar</a> |
    <a asp-action="Edit" asp-route-id="@Model.EstoqueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
