@model IEnumerable<SaraiManagement.Models.Estoque>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estoque</h1>


<form asp-controller="Estoque" asp-action="Index">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Pesquisar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstoqueID">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.EstoqueID">Deletar</a>

            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" type="submit" asp-action="Create">Cadastrar Novo Item</a>
</p>
