@model IEnumerable<SaraiManagement.Models.Estoque>

@{ ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .botao {
        margin: 0 5px;
    }

    .fonte {
        font-size: 20px;
    }

    .centraliza {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h1>Estoque</h1>

<table class="table centraliza">
    <thead>
        <tr>
            <th>
                <form asp-controller="Estoque" asp-action="Index">
                    <p>
                        <input type="text" name="SearchString" />
                        <input class="btn btn-primary" type="submit" value="Pesquisar" />
                    </p>
                </form>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
        <div class="centraliza">
            <a class="btn btn-outline-success botao" asp-controller="ItemDoado" asp-action="Create" asp-route-idEstoque="@item.EstoqueID" >Selecionar</a>
        </div>
        </td>

        <td>
        @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Categoria)
        </td>
       
    </tr>
}
    </tbody>
</table>
<p class="centraliza">
    <a class="btn btn-primary botao" asp-action="List" asp-controller="ItemDoado" clas> Voltar </a>
</p>