@model SaraiManagement.Models.ViewModels.EstoqueListViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

@foreach (var d in Model.Estoques)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                <a asp-action="Details" asp-route-id="@d.EstoqueID">@d.Descricao </a>

            </h4>
        </div>
        <div class="card-text p-1">@d.Categoria</div>
        <div class="card-text p-1">@d.Quantidade</div>

    </div>

}

<div page-model="@Model.PagingInfo" paging-action="List" page-classes-enabled="true" page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>


