@model SaraiManagement.Models.ViewModels.EstoqueItemDoadoListViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ItemDoado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.ItemDoados.DoacaoID" class="control-label"></label>
                <select asp-for="@Model.ItemDoados.DoacaoID" class="form-control" asp-items="ViewBag.DoacaoID"></select>
            </div>

            <input type="hidden" asp-for="@Model.Estoques.EstoqueID" />
            <div class="form-group">
                <label asp-for="@Model.Estoques.EstoqueID" class="control-label"></label>
                <select asp-for="@Model.Estoques.EstoqueID" class="form-control" asp-items="ViewBag.EstoqueID"></select>
                <select asp-for="@Model.Estoques.Descricao" class="form-control" asp-items="ViewBag.Descricao"></select>
                <span asp-validation-for="@Model.Estoques.EstoqueID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="btn btn-outline-dark" type="submit" asp-controller="Estoque" asp-action=Index>Estoque</a>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Estoques.Quantidade" class="control-label"></label>
                <input asp-for="@Model.Estoques.Quantidade" class="form-control" />
                <span asp-validation-for="@Model.Estoques.Quantidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

