@model SaraiManagement.Models.ItemDoado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Quantidade)*@
            <label>Quantidade:</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Estoque)*@
            <label>Item</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque.Descricao)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doacao.DoacaoID)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemDoadoID" class="btn btn-primary" role="button" aria-pressed="true">Editar</a>
    <a asp-action="Delete" asp-route-id="@Model.ItemDoadoID" class="btn btn-danger" role="button" aria-pressed="true">Excluir</a>
    <a asp-action="List" class="btn btn-success" role="button" aria-pressed="true">Voltar</a>
</div>
