@model IEnumerable<SaraiManagement.Models.ItemDoado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EstoqueID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.EstoqueID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>

                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemDoadoID">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" asp-action="Index" asp-controller="TelaInicial" clas> Confirmar </a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Estoque"> Voltar </a>


